html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
 font-family: 'Open Sans', sans-serif;
 height: 100%;
 margin: 0px;
 padding: 0px;
}

/*elements of left side*/

.left-side {
  background-color: #455a64;
  display: inline-block;
  height: 100%;
  position: fixed;
  text-align: center;
  width: 50%;
}


.logo {
 height: 10%;
 width: 10%;
}


.right-side {
  background-color: #cfd8dc;
  height: 100vh;
  margin-left: 50%;
  overflow: scroll;
  position: absolute;
  width: 50%;
}

h1 {  
  color: #fff;
  font-size: 63px;
  margin-top: 30%;
  text-align: center;
  
}

input {
  display: block;
  font-size: 35px;
  height: auto;
  margin-top: 30px;
  margin: auto;
  width: 81%;
}

.enter-button {
  background-color:#ffc007;
  border: none;
  color: #fff;
  font-size: 100%;
  font-weight: 800;
  height: 35%;
  height: auto;
  margin-top: 9%;
  padding: 2.7%;
  width: 88%;
}

.enter-button:disabled {
  background-color: #ffd773;
}

.enter-button:hover {
  background-color: #ffd773;
}

input::placeholder {
  font-weight: 400;
  margin-top:10%;
}

.count-message,
.total-counter {
  color: #ffffff;
  text-decoration: none;
}
 /*Left-side Elements*/
article {
  border: solid 2px #607d8b;
  background-color: #fff;
  margin: 5%;
}

h2 {
  color: #445a64;
  font-size: 182%;
  margin: 3%;
}

p {
  color: #607d8b;
  font-size: 138%;
  margin-bottom: 4%;
  margin-left: 3%;
  text-decoration: underline #f4f6f9;
}

p:hover {
  font-weight: 800;
  text-decoration: underline #ffc107;
}

.read-button {
  border: none;
  color: #455a64;
  font-size: 80%;
}

.read-button:hover {
  font-weight: 800;
  text-decoration: underline #ffc107;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: #455a64;
  float: right;
  font-size: 80%;

}

.delete-button:hover {
  text-decoration: underline #ffc107;
}

hr {
  margin-top: 3%;
  margin-right: 3%;
  margin-left: 3%;
}

.read-bookmark {
  background-color: #f2f4f4;
}

.read-bookmark button:first-of-type {
  background-color: #f2f4f4;
  color: #f05a28;
  font-weight: 800;
  text-decoration: none;
}

/*Responsive*/

@media screen and (max-width: 830px) {
  .right-side {
    margin-left: 0;
    width: 100%;
  }

  .left-side {
    position:relative;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {

}


