body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.left-side {
  background-color: #455a64;
  display: inline-block;
  width: 50%;
  height: 100%;
  position: fixed;
}


.logo {
  height: 5%;
  width: 5%;
}


.right-side {
  margin-left: 50%;
  width: 50%;
  height: 100%;
  background-color: #cfd8dc;
  position: absolute;
}

